<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		{volist name="$global_menu" id="vo"}
			<dl id="{$vo.id}">
				<dt><i class="Hui-iconfont">&#{$vo.icon};</i>&nbsp;{$vo.name}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						{volist name="$vo.next" id="next"}
							<li><a data-href="{$next.url}" data-title="{$next.name}" href="javascript:voide(0)">{$next.name}</a></li>
						{/volist}
					</ul>
				</dd>
			</dl>
		{/volist}
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>