{include file="system/setting_head"/}
<div class="page-container">
    <form class="form form-horizontal" id="form-smtp-add">
        <input type="hidden" name="inc_type" value="{$inc_type}">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                {volist name="$list" id="vo"}
                    <a href="{$vo.url}?index={$i-1}"><span>{$vo.name}</span></a>
                {/volist}
            </div>
        </div>
        <div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
    </form>
</div>
{include file="system/setting_footer"/}
<script>
</script>
</body>
</html>