{include file="layout/head"/}
<style>
	.tabBar{border-bottom: 2px solid #5eb95e;}
	.tabBar span{border-right: solid 0.1em rgb(243, 242, 242);color: #333;}
	.tabBar span.current{background-color: #5eb95e;}
</style>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	系统管理
	<span class="c-gray en">&gt;</span>
	网站管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>