{include file="layout/head"/}
<link rel="stylesheet" type="text/css" href="__ADMIN__/pagination.css" />
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 会员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="/admin/user/index" method="GET">
		<div class="text-c"> 日期范围：
			<input type="text" onfocus="" id="datemin" class="input-text Wdate" style="width:120px;">
			-
			<input type="text" onfocus="" id="datemax" class="input-text Wdate" style="width:120px;">
			<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="user_name" name="user_name" value="{$user_name}">
			<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i>
				搜用户</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="user_add('添加会员','/admin/user/user_add?act=add','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加会员</a></span> <span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="100">昵称</th>
				<th width="40">性别</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th width="130">注册时间</th>
				<th width="70">状态</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="$list" id="vo"}
				<tr class="text-c">
					<td><input type="checkbox" value="{$vo.id}" name="user_id"></td>
					<td>{$vo.id}</td>
					<td><u style="cursor:pointer" class="text-primary" onclick="user_show('{$vo.nickname}','/admin/user/user_show?user_id={$vo.id}','10001','460','500')">{$vo.nickname}</u></td>
					<td>{$vo.sex}</td>
					<td>{$vo.mobile ?: ''}</td>
					<td>{$vo.email}</td>
					<td>{$vo.register_time}</td>
					<td class="td-status">
						{eq name="$vo.status" value="1"}
							<span class="label label-success radius">已启用</span>
						{else/}
							<span class="label label-default radius">已禁用</span>
						{/eq}
					</td>
					<td class="td-manage">
							{eq name="$vo.status" value="1"}
								<a style="text-decoration:none" onClick="user_stop(this,'{$vo.id}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
							{else/}
								<a style="text-decoration:none" onClick="user_start(this,'{$vo.id}')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
							{/eq}
						<a title="编辑" href="javascript:;" onclick="user_edit('编辑','/admin/user/user_edit?act=edit&id={$vo.id}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','/admin/user/change_password?act=pwd&user_id={$vo.id}','10001','600','370')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a>
						<a title="删除" href="javascript:;" onclick="user_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	<div>{$list->render()}</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="layout/footer"/}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": false,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,7,8]}// 制定列不参与排序
		]
	});

	$('#DataTables_Table_0_info').remove();
	$('#DataTables_Table_0_paginate').remove();
});
/*用户-添加*/
function user_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-编辑*/
function user_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function user_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function user_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/user/user_status',
			data: {user_id:id, status:0},
			dataType: 'json',
			success: function(data){
				if (data.status == 1) {
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="user_start(this,' + id + ')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
					$(obj).remove();
					layer.msg('已停用!',{icon: 5,time:1000});
				} else {
					layer.msg('操作失败!', { icon: 0, time: 1000 });
				}
			},
			error:function(data) {
				layer.alert("系统繁忙！请稍候再试！", { title: "提示信息" });
			},
		});		
	});
}

/*用户-启用*/
function user_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/user/user_status',
			data: {user_id: id, status:1},
			dataType: 'json',
			success: function(data){
				if (data.status == 1) {
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="user_stop(this,' + id + ')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
					$(obj).remove();
					layer.msg('已启用!',{icon: 6,time:1000});
				} else {
					layer.msg('操作失败!', { icon: 0, time: 1000 });
				}
			},
			error:function(data) {
				layer.alert("系统繁忙！请稍候再试！", { title: "提示信息" });
			},
		});
	});
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*全部-删除*/
function datadel() {
	var user_ids = '';
	$.each($('input:checkbox:checked'), function () {
		if ($(this).val() != '') {
			user_ids += $(this).val() + ",";
		}
	});

	if (user_ids == '') {
		layer.alert("请选择你要删除的选项！", { title: "提示信息" });
		return false;
	}
	
	user_del(this, user_ids);
}
/*用户-删除*/
function user_del(obj,id){
	layer.confirm('删除后不可恢复！确认要删除吗？',{icon:3,title:"安全提醒"},function(index){
		$.ajax({
			type: 'POST',
			url: '/admin/user/user_handle',
			data: {id:id,act:'del'},
			dataType: 'json',
			success: function(data){
				if (data.status) {
					layer.msg(data.msg, { 'icon': 1, 'time': 1000, 'title': "提示信息" }, function () {
						location.reload();
					});
				} else {
					layer.msg(data.msg, { 'icon': 2, 'time': 1000, 'title': "提示信息" });
				}
			},
			error:function(data) {
				layer.alert("系统繁忙！请稍候再试！",{titme:"消息提醒"});
			},
		});		
	});
}
</script> 
</body>
</html>