{include file="layout/head"/}
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
	<img class="avatar size-XL l" src="{$user.avatar}">
	<dl style="margin-left:80px; color:#fff">
		<dt>
			<span class="f-18">{$user.nickname}</span>
			<!-- <span class="pl-10 f-12">余额：40</span> -->
		</dt>
		<dd class="pt-10 f-12" style="margin-left:0">这家伙很懒，什么也没有留下</dd>
	</dl>
</div>
<div class="pd-20">
	<table class="table">
		<tbody>
			<tr>
				<th class="text-r" width="150">性别：</th>
				<td>{$user.sex}</td>
			</tr>
			<tr>
				<th class="text-r">手机：</th>
				<td>{$user.mobile}</td>
			</tr>
			<tr>
				<th class="text-r">邮箱：</th>
				<td>{$user.email}</td>
			</tr>
			<tr>
				<th class="text-r">状态：</th>
				<td class="td-status">
					{eq name="$user.status" value="1"}
						<span class="label label-success radius">已启用</span>
					{else/}
						<span class="label label-default radius">已禁用</span>
					{/eq}
				</td>
			</tr>
			<tr>
				<th class="text-r">注册时间：</th>
				<td>{$user.register_time ?: '--'}</td>
			</tr>
			<tr>
				<th class="text-r">初次登陆时间：</th>
				<td>{$user.login_time ?: '--'}</td>
			</tr>
			<tr>
				<th class="text-r">最后登录时间：</th>
				<td>{$user.last_login_time ?: '--'}</td>
			</tr>
			<tr>
				<th class="text-r">最后登录IP：</th>
				<td>{$user.last_login_ip ?: '--'}</td>
			</tr>
		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
{include file="layout/footer"/}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
</body>
</html>